/* Universal */

body {
  font-family: helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}


h2, h4, h5 {
  text-align: center;
}

/* Header */
header {
  position: fixed;
  border-bottom: 1px solid seashell;
  display: flex;
  width: 100%;
  z-index: 1;
  height: 69px;
  background-color: black;
  top: -3px;
}

.logo {
  height: 69px;
  width: auto;
  margin-left: 10px;
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.logo img {
  height: 50px;
  width: auto;
}

nav span {
  padding: 10px 20px
  display: inline-block;
  padding-right: 60px;
  text-decoration: underline;
}

nav {
  display: flex;
  align-items: center;
}

.container {
  width: 1232px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0px;
}

/* Tea Varieties */
.hero-image {
  display: flex;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  height: 700px;
  width: 100%;
  justify-content: center;
  align-items: center;
  top: 70px;
}

.mission {
  background-color: black;
  color: white;
  width: 100%;
  justify-content: center;
  text-align: center;
  display: inline-block;
}

.teas {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.tea-variety {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 15px;
}

.tea-variety img {
  height: 200px;
  width: 300px;
}

/* Locations */
.locations-container {
  width: 100%;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
  height: 500px;
}

.location-divs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  opacity: 1;
}

.locations {
  background-color: black;
  height: 300px;
  width: 300px;
  text-align: center;
  margin: 0px 20px;
}

.location-title {
  padding: 15px 0;
  margin: 0 auto;
}

/* Contact Information */
.contact-container {
  width: 1232px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
}


/* Copyright */
.copyright {
  text-align: left;
  padding-left: 20px;
}
